<mat-toolbar color="primary">
  <span>Consulta Pagamentos</span>
</mat-toolbar>

<table>
  <tr>
    <th>Apartamento</th>
    <th>Janeiro</th>
    <th>Fevereiro</th>
    <th>Março</th>
    <th>Abril</th>
    <th>Maio</th>
    <th>Junho</th>
    <th>Julho</th>
    <th>Agosto</th>
    <th>Setembro</th>
    <th>Outubro</th>
    <th>Novembro</th>
    <th>Dezembro</th>
  </tr>
  <tr>
    <td>101</td>
    <td>12/05/2021</td>
    <td>12/05/2021</td>
    <td>12/05/2021</td>
    <td>12/05/2021</td>
    <td>12/05/2021</td>
    <td>12/05/2021</td>
    <td>12/05/2021</td>
    <td>12/05/2021</td>
    <td>12/05/2021</td>
    <td>12/05/2021</td>
    <td>12/05/2021</td>
    <td>12/05/2021</td>
    <td></td>
  </tr>
</table>

<div class="actions">
  <button mat-raised-button color="primary" routerLink="/morador">Voltar</button>
</div>
