<mat-toolbar color="primary">
  <span>Consulta Pagamentos</span>
</mat-toolbar>

<table>
  <tr>
    <th>Apartamento</th>
    <th>Janeiro</th>
    <th>Fevereiro</th>
    <th>Março</th>
    <th>Abril</th>
    <th>Maio</th>
    <th>Junho</th>
    <th>Julho</th>
    <th>Agosto</th>
    <th>Setembro</th>
    <th>Outubro</th>
    <th>Novembro</th>
    <th>Dezembro</th>
  </tr>
  <tr>
    <td>101</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>102</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>103</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>104</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>201</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>202</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>203</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>204</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>301</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>302</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>303</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>304</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>401</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>402</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>403</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>404</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>501</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>502</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>503</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>504</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pago</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td>Pendente</td>
    <td></td>
  </tr>
</table>

<div class="actions">
  <button mat-raised-button color="primary" routerLink="/sindico">Voltar</button>
</div>
