<mat-toolbar color="primary">
  <span>Quadro de Avisos</span>
</mat-toolbar>
<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Assembleia Geral - 15/08/2021</mat-card-title>
    <mat-card-subtitle>Síndico</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Foto reunião">
  <mat-card-content>
    <p>
      No dia 15/08/2021 às 20:00 teremos nossa assembleia geral para votarmos a reforma da quadra e da churrasqueira.
      Espero todos no salão de festas.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Manutenção Elevador Social</mat-card-title>
    <mat-card-subtitle>Síndico</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      No dia 11/08/2021 o elevador social passará por uma manutenção rotineira. O elevador ficará desabilitado
      das 10:00 até às 17:00
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Aniversário Porteiro</mat-card-title>
    <mat-card-subtitle>Síndico</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Amanhã é aniversário do nosso querido porteiro. Torne o dia dele melhor!
    </p>
  </mat-card-content>
</mat-card>

<div class="actions">
  <button mat-raised-button color="primary" routerLink="/morador">Voltar</button>
</div>
