<mat-toolbar color="primary">
  <span>Tela Inicial - Síndico</span>
</mat-toolbar>
<button mat-button [matMenuTriggerFor]="financeiro">Financeiro</button>
<mat-menu #financeiro="matMenu" yPosition="below">
  <button mat-menu-item routerLink="/consultaPagamentos">Consultar Pagamentos</button>
  <button mat-menu-item>Consultar Caixa Condomínio</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="gestao">Gestão de Pessoas</button>
<mat-menu #gestao="matMenu" yPosition="below">
  <button mat-menu-item>Consultar Funcionários</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="avisos">Avisos</button>
<mat-menu #avisos="matMenu" yPosition="below">
  <button mat-menu-item routerLink="/criarAviso">Criar Aviso</button>
  <button mat-menu-item routerLink="/avisos">Consultar Quadro de Avisos</button>
</mat-menu>
